*
{
    margin:0;
    padding:0;
    
}
.row {
    display: flex;
    justify-content: flex-end;  
   
}
 html, body{
    height: 100%;
    font-family: tahoma;
}
.hero {
    position:absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
header {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(61, 29, 29, 0.5)), url(images/background.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    
}
h1 {
    color: white;
    word-spacing: 0.6rem;
}
.main-nav {
    list-style: none;
    position: fixed;
    
}
.main-nav li {

    display: inline-block;
    margin-left: 30px;

}
.main-nav li a {
    color: #e67e22;
    text-decoration: none; 
    font-size: 90%;
    font-weight: bold;
}
.main-nav li a:hover {
    color: white;
    border-bottom: 2px solid white;
    transition: all 0.5s ease-in;
    padding: 15px 0;  
}
@keyframes fromleft {
   
    0% {
        transform: translateX(-100px);
        opacity: 0;

    }
    50% {
        transform: translateX(30px);
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
.logo img {
    height: 100px; 
    animation: fromleft;
    animation-duration: 4s;
    animation-delay: 2s;
    opacity: 0;
    animation-fill-mode: forwards;
}
.logo {
    flex-grow:1;
    margin-left: 80px;
    margin-top: 60px;
}
.btn {
    border: 1px solid #e67e22;
    padding: 10px 30px;
    color: #e67e22;
    text-decoration: none;
    border-radius: 12px;
    margin-right: 15px;
}
.button {
    margin-top: 40px;
}
@keyframes fromright {
   
    0% {
        transform: translateX(100px);
        opacity: 0;

    }
    50% {
        transform: translateX(-30px);
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
.btn-half   {
    background-color: #e67e22;
    color:  white;
    animation: fromright;
    animation-duration: 4s;
    animation-delay: 2s;
    opacity: 0;
    animation-fill-mode: forwards;
}
 .Memnon{
     text-align: justify;
     width: 70%;
     margin-left: 15%;
 }
 .text-center {
     text-align: center;
 }
 h3:after {
    width: 100px;
    height: 2px;
    background-color:#e67e22;
    display: block;
    content: "";
    margin: 0 auto;
    margin-top: 30px;
 }

.arranging {
   
    text-align: justify;
    margin-left: 33%;
    list-style: none;
    color: #e67e22;
}
.part {
    text-align: justify;
    margin-left: 33%;
    list-style: none;
    color: #e67e22;
}
.part2 {
    
    text-align: justify;
    margin-left: 33%; 
    list-style: none; 
    color: #e67e22;
}   
.contact1{
    text-align: justify;
    margin-left: 33%; 
    list-style: none;
    color: #e67e22;
}
.gallery{
    text-align: center;
    margin-bottom: 10mm;
}
.contact-us {
    text-align: center;
    margin-top: 80px;    
}
.information h3 {
    margin-top: 100px;
    margin-bottom: 30px;
}
.map{
    text-align: center;
    margin-bottom: 10mm;
}
.features h3 {
    margin-top: 80px;
    margin-bottom: 30px;
    margin-left: 40px;
}
.meal-showcase {
    list-style: none;
    width: 100%;
}
.meal-showcase li {
    display: block;
    width: 25%;
    float: left;
}
.meal-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
}
.meal-photo img {
    width:100%;
    height:auto;
    transform: scale(1.15);
    transition: all 0.5s;
}
.meal-photo img:hover 
{
    transform: scale(1.05);
}
.meal {
    margin-top: 60px;
}
.cities {
    margin-top: 50%;
    margin-left: 60px;
    margin-right: 60px;
}
.cities img {
    width: 100%;
    margin-top: 50px;
}
.cities i {
    color: #e67e22;
}
.testimonals{
    margin-top: 80px;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(images/back3.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 60px;
    color: white;
    background-attachment: fixed;  
}
.testimonals p {
    color: white;
    line-height: 25px;
    text-align: justify;
    margin-top: 40px;
}
.testimonals cite img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}
.test {
    text-align: center;
}
.email{
    text-align: center;
}
.btn-block {
    background-color: #e67e22;
    color: #fff;
    border-radius: 6px;
    margin-top: 20px;
}
.btn-block2 {
        background-color: #e67e22;
        color: #fff;
        border-radius: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
}
.gap {
    margin-top: 40px;
    margin-left: 60px;
    margin-right: 60px;
}
.form {
    margin-top: 40px;
}
/*FOOTER*/
.footer {
    background:#303036;
    color: #d3d3d3;
    height: 400px;
    position: relative;
}
.footer .footer-content {
    border: 1px solid #e67e22;
    height: 350px;
    display: flex;

}
.footer .footer-content .footer-section {
    flex: 1;
    padding: 25px;
    border: 1px solid white;
}
.footer .footer-bottom {
    background:#343a34;
    color: #686868;
    height: 50px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;
}
.hours {
    text-align: center;
}

ul.main-nav {
    width: 56%;
    align-self: center;
}
